.accordion{
  &:not(:last-of-type){
    margin-bottom: 20px;
  }
}

.arrow-up{
  transform: rotate(90deg);
  display: inline-block;
  margin-left: auto;
}

.card-header{
  cursor: pointer;
  display: flex;
  align-items: center;
}

.form-control{
  min-width: 55px;
}

.custom-control label {
  cursor: pointer;
}
