.tableContainer {
  display: flex;
  justify-content: center;
  .row{
    justify-content: center;

    .ordersLink{
      font-size: 20px;
      color: inherit;
      margin-left: 10px;
      text-decoration: underline;
      text-decoration-color: #2f3939;
      text-decoration-style: dashed;
      text-underline-position: under;
      &:hover{
       color:  #1890ff;
        text-decoration-color: #1890ff;
      }
    }
  }
}

.table-bordered {
  text-align: center;
  width: 90%;
}

.table-sm td, .table-sm th {
  padding: 10px;
  font-family: monospace;
  vertical-align: baseline;
}

.totalLabel {
  text-align: end;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}
input{
  text-align: center;
}

#confirm-order-button {
  position: relative;
}


