.productsListContainer{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 10px;
  min-height: calc( 100vh - 53px);
  .btn-outline-danger{
    margin-left: 10px;
  }
}

.pagination{
  width: min-content;
  margin: auto auto 40px;
}

.productsFound{
  font-size: 18px;
  margin-bottom: 1em;
}
