nav {
  background: #d7d0d7;
  margin-bottom: 10px;

  .productsLink {
    font-size: 25px;
    color: inherit;
  }
  .btn{
    color: unset;
    border: 1px solid grey;
    border-radius: 0;
    &:hover{
      background: #3D816A;
      color: white;
      border-color: transparent;
    }
  }
}

.ml-auto, .mx-auto {
  margin-left: 0 !important;
}

.navbar-expand {
  justify-content: space-around;
}

.card-title {
  min-block-size: 2em;
}

.alert-success, .alert-danger, .alert-warning {
  position: fixed;
  left: 0;
  right: 0;
  margin: auto;
  width: 60%;
  z-index: 1;
}
